@import ".config/wofi/colors.css";
 
* {
	border-radius: 0;
	font-family: "JetBrains Mono Nerd Font";
	font-size: 12px;
}
#outer-box {
	background: @surface;
	border-radius: 16px;
	border: 2px solid @primary;
	padding: 8px;
}
#window {
	border-radius: none;
	border: none;
	opacity: 0.9;
	background: none;
	color: @secondary;
}

#scroll {
	margin: -2px 0px;
}

#input {
	border-radius: 16px;
	font-weight: bold;
	border: 2px solid @primary;
	margin: 8px;
	background-color: @surface_container_high;
	color: @foreground;
}
#input #text {
	color: @foreground;
}
#entry {
	text-align: center;
	border-radius: 8px;
	margin: 8px;
	border: none;
	border-radius: none;
	opacity: 1;
	transition: all .25s ease-in-out;
	background: @surface_container_high;
	color: @primary;
	padding-top: none;
	padding-bottom: none;
	padding: none;
}



#entry:selected {
	border: none;
	border-radius: 32px;
	font-weight: bold;	
	transition: all .25s ease-out;	
	color: @surface_dim;
	background: @primary;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 4px;

}
#entry:selected #text {
	color: @surface_dim;
}
